/* ***************************** */
/* HEADER */
/* ***************************** */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 6.6rem;
  position: relative;
}

. {
  height: 2.4rem;
}

/* ***************************** */
/* HERO SECTION */
/* ***************************** */

.section-hero {
  background-color: #fdf2e9;
  padding: 9.6rem 0;
}

/* @media(max-width:1200px){
  .section-hero{
    background-color: orangered;
  }
}

@media(max-width:600px){
  .section-hero{
    background-color: orange;
  }
} */

.hero {
  max-width: 130rem;
  margin: 0px auto;
  padding: 0px 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4rem;
}

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 600;
}

/* ***************************** */
/* NAVIGATION */
/* ***************************** */

.main-nav {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 2.4rem;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e67e22;
}

.main-nav-link:last-child {
  background-color: #e67e22;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  color: #fff;
}
.main-nav-link:last-child:hover {
  background-color: #cf711f;
}

/* MOBILE */

.btn-mobile-nav {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  /* when the sticky (the parent element) appears the header will be styled like this */
  position: fixed;
  top: 0;
  bottom: 0;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* ************************ */
/* STEP SECTION */
/* ************************ */
.section-how {
  padding: 9.6rem 0;
  margin: 0 auto;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step-img {
  width: 35%;
}

.step-img-box:before,
.step-img-box:after {
  content: "";
  display: block;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-img-box:before {
  background-color: #fdf2e9;
  z-index: -2; /* hamgiin baga too n ard tald n orno */
  padding-bottom: 60%; /*60%of the parent element`s width */
  width: 60%;
}

.step-img-box:after {
  background-color: #fae5d3;
  z-index: -1; /* hamgiin higher value-tai too n ard tald n orno */
  padding-bottom: 45%; /*60%of the parent element`s width */
  width: 45%;
}

.number {
  font-size: 8.6rem;
  font-weight: 500;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* MEALS+DIET SECTION */
.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 12px;
  overflow: hidden; /* whatever overflows this container should be hidden */
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(2rem); /* vertical 2rem shiljene */
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  margin-bottom: 2.4rem;
  font-weight: 600;
}

.meal-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}
.meal-img {
  width: 100%;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  color: #333;

  border-radius: 100px;
  font-weight: 600;
  text-transform: uppercase;
}

.tag-vegetarian {
  background-color: #51cf66;
}

.tag-vegan {
  background-color: #94d82d;
}
.tag-paleo {
  background-color: #ffd43b;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.5rem;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent; /*border bottom-iig hover hiih uyd baihgu bolgoh uyd hereglene */
}

/* TESTIMONIAL SECION */
.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr; /*we can use it as percentages for grid */
  align-items: center; /*webpage-iin agshaah uyd zuragnuudiin bosoo tenhlegeer zai uusgehees sergiileh */
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.2rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block; /*default deer n inline bolj zuragnuudin hoorond jijig zai uusne ene zaig alga bolgohod [block] ashiglana */
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1); /* zurgan deer hover hiih uyd zurag tomrono */
}

/* ************************** */
/* MEALS SECTION */
/* ************************** */

.section-pricing {
  padding: 9.6rem 0 0 0;
}

.pricing-plan {
  border-radius: 11px;

  width: 75%;
}

.plan--starter {
  border: 2px solid #fdf2e9;
  justify-self: end; /*for grid content we can use this the align the element horizontally */
  padding: 4.6rem;
}

.plan--complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.plan--complete::after {
  content: "Best value";
  position: absolute;
  top: 6%; /*parent elementiin deed taliin hesgees 6% dosshluulna */
  right: -18%; /*  parent elementiin baruun taliin heseg ruu 18% oirtuulna */

  background-color: #ffd43b;
  color: #333;
  padding: 0.8rem 6.4rem;
  transform: rotate(45deg);
  text-transform: uppercase;
  font-weight: 700;
}

/* .btn--1{
  
} */

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  color: #333;
  line-height: 1.6;
  text-align: center;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  line-height: 1.2;
}

.diet-list {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.none-icon {
  color: #fff;
}

/* ************************** */
/* FEATURE  */
/* ************************** */

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 3.2rem;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50px;
}

/* *************************** */
/* CTA SECTION */
/* *************************** */

.section-cta {
  /* / top/ right/ bottom/ left */
  /* padding: 9.6rem 0 12.8rem 0; */

  /* / top/ horizontal/ left/ */
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  /* 2/3=66.6%  1/3=33.3% */
  grid-template-columns: 2fr 1fr;
  border-radius: 11px;

  box-shadow: 0 2.4rem 4.8rem (rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);

  /* height: 50rem; */
  overflow: hidden;
}

.cta-img-box {
  background-image: linear-gradient(to right bottom, #eb974e5a, #e67d2226),
    url(../img/eating.jpg);
  background-size: cover; /*whatever is the dimension of the element the background img will cover entirely */
  background-position: center;
}

.cta-text-box {
  color: #45260a;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-bottom: 4.8rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form select,
.cta-form input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  border-radius: 9px;
  background-color: #fdf2e9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* horizontally, vertically, blur rgba (0,0,0,0.1) meaning 10% */
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem #ead9c951; /* it helps the users to indicate where they are */
}

/* *************************** */
/* FOOTER SECTION */
/* *************************** */

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  line-height: 1.6;
  font-size: 1.4rem;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
